<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <title>VulcanWM Add Description</title>
  </head>
  <body>
    <div class="auth">
      <div class="login-form-body">
        <div class="login-form-heading">
          <h1>Add Description</h1>
          <br>
        </div>
        <div class="login-form-form">
          <form method="POST" action="{{ url_for('adddescfunc') }}">
            <textarea id="desc" name="desc" rows="8" cols="30">
              {{desc}}
            </textarea>
            <br>
            <button class="login-form-button">add description</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>