<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='navbar.css') }}" rel="stylesheet" type="text/css" />
    <title>OvalEyes</title>
  </head>
  <body>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/profile/{{user['Username']}}">Your profile</a></li>
      <a href="/notifs" class="notification">
        <span>Notifications</span>
        <span class="badge">{{number}}</span>
      </a>
      <li><a href="/makepost">Make Post</a></li>
      <li><a href="/allfrs">Your Follow Requests</a></li>
      <li><a href="/settings">Settings</a></li>
      <div class="topnav-right">
        <img src="https://OvalEyes.VulcanWM.repl.co/pfps/{{user['Username']}}" alt="Profile Pic" style="width:50px;height:50px;float:right">
      </div>
    </ul>
    <p>Hi {{user['Username']}}</p>
  </body>
</html>