<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <title>VulcanWM - {{user['Username']}}</title>
  </head>
    <body>
      <h2><a href="/">Home</a></h2>
      <h1>{{user['Username'].upper()}}</h1> 
      {% if user['Description'] == None %}
        <p>{{user['Username']}} has no description!</p>
      {% else %}
        <p>{{user['Description']}}</p>
      {% endif %}
      <br>
      <p>Likes: {{user['Likes']}}</p>
      <p>Account created on: ₹{{user['Created']}}</p>
      <br>
      {% if user['Following'] == [] %}
        <p>{{user['Username']}} is not following anyone!</p>
      {% else %}
        <h3>Following</h3>
          {% for person in user['Following'] %}
            <p>{{person}}</p>
          {% endfor %}
      {% endif %}
      <br>
      {% if user['Followers'] == [] %}
        <p>Nobody is following {{user['Username']}}!</p>
      {% else %}
        <h3>Followers</h3>
          {% for person in user['Followers'] %}
            <p>{{person}}</p>
          {% endfor %}
      {% endif %}
    </body>
</html>