<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <title>VulcanWM - {{user['Username']}}</title>
  </head>
    <body>
      <h2><a href="/">Home</a></h2>
      <h1>{{user['Username'].upper()}}</h1> 
      {% if user['Description'] == None %}
        <p>{{user['Username']}} has no description!</p>
      {% else %}
        <p>{{user['Description']}}</p>
      {% endif %}
      <br>
      <p>Likes: {{user['Likes']}}</p>
      <p>Account created on: {{user['Created']}}</p>
      <br>
      <p><a href="/following/{{user['Username']}}">Following</a> ({{user['Following'] | length}})</p>
      <p><a href="/followers/{{user['Username']}}">Followers</a> ({{user['Followers'] | length}})</p>
      {% if follow == True %}
        <a href="/unfollow/{{user['Username']}}">Unfollow {{user['Username']}}</a>
      {% elif follow == False %}
        <a href="/follow/{{user['Username']}}">Follow {{user['Username']}}</a>
      {% endif %}
    </body>
</html>