<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>OvalEyes - Signup</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
  </head>
  <body>
    <div class="auth">
          <div class="login-form-body">
            <div class="login-form-heading">
              <br>
            </div>
            <div class="login-form-form">
              <h2>Signup</h2>
              <form method="POST" action="{{ url_for('signup') }}">
                <input class="login-form-input" placeholder="username" name="username" required>
                <input class="login-form-input" placeholder="password" type="password" name="password" required>
                <input class="login-form-input" placeholder="email" type="email" name="email" required>
                <input class="login-form-input" placeholder="confirm password" type="password" name="passwordagain" required><br>
                <div style="width:40px%"><div class="g-recaptcha" data-sitekey="6Le1uU0bAAAAAOFJgITRHQkbfiahrjVZV-XZ2nYn" style="text-align:center"></div></div><br><br>
                <button class="login-form-button">signup</button>
              </form>
            </div>
          </div>
        </div>
  </body>
</html>